@model IEnumerable<PetStore.ViewModels.Product.ListAllProductsViewModel>

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron-fluid">
    <h1 class="text-center">Search</h1>
</div>
<br/>
<div class="justify-content-center">
    <form asp-action="Search" method="get">
        <div class="md-form active-cyan active-cyan-2 mb-3">
            <input name="searchWord" class="form-control" type="text" placeholder="Search" aria-label="Search">
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-info"/>
        </div>
    </form>
</div>
<br/>
<hr />
<div class="text-center">
    <h1>All</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <div class="text-right jumbotron-fluid">
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ProductId">Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

<p class="text-center">
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
